.mainContainer {
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.btnList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.btn {
  margin: 0 2rem;
  padding: 7px 12px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  border: 2px solid var(--btn-border-color);
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--btn-text-color);
}

.btn:hover {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
  color: white;
}

.gameContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}